#basket
  height: 120px
  background: #fff
  margin-left: 10%
  margin-right: 10%

#header
  background: url("../img/shit.jpg")
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%; 


.main-nav
  display: flex

  li
    list-style: none

  li:first-child
    margin-left: auto

  a
    color: white
    display: block
    border-radius: 4px
    padding: 10px 15px
    text-decoration: none
    font-weight: 900
    font-family: "titr"


a.download
  box-shadow: 0 13px 10px -10px rgba(0 , 0, 0, .5)


.logo

    margin-top: 12px
    margin-right: auto


#animate

  height: 400px


#unde

  height: 80px
  background: #23b25f
  margin-left: 10%
  margin-right: 10%


#under

  height: 900px



.register
  padding-top: 18px
  padding-left: 20px


.searchbox

  background: #fff
  height: 20px
  border-radius: 20px
  padding: 10px
  margin-top: 10px
  margin-left: 100px
  position: absolute

.searchbox:hover > .search-txt
  width: 200px
  padding: 0 6px


.searchbox:hover > .search-btn
  background: white



.search-btn
  color: #23b25f
  float: left
  width: 20px
  height: 20px
  border-radius: 50%
  background: #fff
  display: flex
  justify-content: center
  align-items: center
  transition: 0.4s

.search-txt
  border: none
  background: none
  outline: none
  float: right
  font-size: 16px
  transition: 0.4s
  line-height: 20px
  width: 0px




@font-face
  font-family: titr
  src: url('fonts/titr.ttf') format('truetype')
